body{
    /*background-color: rgba(255, 137, 225, 0.76);*/
    background-image: url(imagens/rosa\ textura.avif);
}
.logo{
    margin: 50px 0px;
    height: 400px;
}
.voltar{
    height: 28px;
    margin-right: 84%;
    margin-top: 17px;
}
header{
    background: url(imagens/rosa\ vetores.png) center center no-repeat fixed;
    margin: -9px -8px 0px -8px;
    background-size: cover;
    text-align: center;
    border: 1px;
    border-radius: 0px 0px 10px 10px;
    border-style: solid;
    border-color: black
}
.borda{
    background-image: url(imagens/fundo\ rosa.avif);
    margin: -21px 0px -1px 0px;
    border-radius: 0px 0px 9px 9px;
    border-color: black;
    justify-content: center;
}
.menu{
    display:flow-root;
}
a.imag{
    margin: 70px;
}
.imagem{
    height: 60px;
}
.imagem:hover{
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
}
.rodape{
    background: url(imagens/rosa\ vetores.png) center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align:center;
    margin: 0px -8px -9px -8px;
    background-size: cover;
    text-align: center;
    border: 1px;
    border-radius: 10px 10px 0px 0px;
    border-style: solid;
    border-color: black
}
.form{
    background-color: #ffb6f9;
    display: inline-grid;
    padding: 30px 60px;
    margin: 50px;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 10px;
}
.botaoenv:hover {
    text-decoration: underline;
    border-style: solid;
}
.icones{
    height: 40px;
}
.icones:hover{
    height: 50px;
}
.mensagem{
    height: 100px;
    width: 190px;
}
table{
    text-align: center;
}
.textoarea{
    margin: 25px;
}
.texto{
    text-align: justify;
}
.texto1{
    text-align: center;
}
p{
    margin: 70px;
}
.parceira{
    width: 100px;
    background: url(imagens/agua.avif) center center no-repeat fixed;
    display:inline-block;
    border-radius: 10px;
}
.parceira:hover{
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.poseidon{
    width: 100%;
}
